/.vscode/
/.env/
.env/
/__pycache__/
.idea
*/*/*/*/*.pyc
*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
*.pyc
*/*/*/*/__pycache__
*/*/*/__pycache__
*/*/__pycache__
*/__pycache__
__pycache__
.env/
.pytest_cache
*__pycache__*
build/
dist*
.kivy/logs/*
EBWebView/
asserts/pem/*
asserts/conf/ssh_commands.json